Labs/Lab4_FAIR/report.aux
Labs/Lab4_FAIR/report.fdb_latexmk
Labs/Lab4_FAIR/report.fls
Labs/Lab4_FAIR/report.log
Labs/Lab4_FAIR/report.out
Labs/.vscode/settings.json
Labs/.vscode/ltex.hiddenFalsePositives.en-US.txt
Labs/Lab4_FAIR/report.synctex.gz
Project/ICOSETC_SE-Nor_FLUXES_L2.csv
Project/ICOSETC_SE-Htm_FLUXES_L2.csv
Project/ICOSETC_SE-Nor_METEO_L2.csv
Labs/Lab9_NN/Bern02
